<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ASPPatterns.Chap3.Layered.Repository.Properties.Settings.ShopConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\TestDev\ASPPatterns\ASPPatterns.Chap3.Layered\ASPPatterns.Chap3.Layered\App_Data\Shop.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>